<div class="main-content">
    <!-- Navbar -->
    <nav class="navbar navbar-top navbar-expand-md navbar-dark" id="navbar-main">
        <div class="container-fluid">
            <!-- Brand -->
            <a class="h4 mb-0 text-white text-uppercase d-none d-lg-inline-block" href="../index.html">User Profile</a>
            <!-- Form -->

            <!-- User -->
            <
        </div>
    </nav>
    <!-- End Navbar -->
    <!-- Header -->
    <div class="header pb-8 pt-5 pt-lg-8 d-flex align-items-center"
         style="min-height: 400px; background-image: url(../assets/img/theme/cap.jpg); background-size: cover; background-position: center top;">
        <!-- Mask -->
        <span class="mask bg-gradient-default opacity-8"></span>
        <!-- Header container -->

    </div>
    <!-- Page content -->
    <div class="container-fluid mt--7">
        <div class="row">
            <div class="col-xl-8">
                <div class="card card-profile shadow">
                    <div class="row justify-content-center">
                        <div class="col-lg-12">
                            <div class="card-profile-image">
                                <a href="#">
                                    <img src="../assets/img/theme/cap.jpg" class="rounded-circle">
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="card-header text-center border-0 pt-8 pt-md-4 pb-0 pb-md-4">
                        <div class="d-flex justify-content-between">
                            <a href="#" class="btn btn-sm btn-info mr-4">Connect</a>
                            <a href="#" class="btn btn-sm btn-default float-right">Message</a>
                        </div>
                    </div>
                    <div class="card-body pt-0 pt-md-4">
                        <div class="row">
                            <div class="col">
                                <div class="card-profile-stats d-flex justify-content-center mt-md-5">
                                    <div>
                                        <span class="heading reportcount"></span>
                                        <span class="description">Reports</span>
                                    </div>
                                    <div>
                                        <span class="heading ordercount"></span>
                                        <span class="description">Orders</span>
                                    </div>
                                    <div>
                                        <span class="heading analysiscount"></span>
                                        <span class="description">Analyses</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="text-center">
                            <h3>
                                John Doe<span class="font-weight-light"></span>
                            </h3>
                            <div class="h5 font-weight-300">
                                <i class="ni location_pin mr-2"></i>Regensburg, Germany
                            </div>
                            <br/>
                            <hr/>
                            <br/>

                        </div>
                    </div>

                </div>
            </div>

        </div>

    </div>
</div>















