<footer class="footer">
    <div class="row">
        <div class="col-lg-12">
            <p class="error"></p>
            <p class="success"></p>

        </div>
    </div>

    <div class="row align-items-center justify-content-xl-between">
        <div class="col-xl-6">
            <div class="copyright text-center text-xl-left text-muted">
                <!--                &copy; 2019 <a href="" class="font-weight-bold ml-1" target="_blank">DINGfest</a>-->
            </div>
        </div>
    </div>
</footer>
</div>

</div>
<!--   Core   -->
<script src="assets/js/plugins/jquery/dist/jquery.min.js"></script>

<script src="assets/js/plugins/bootstrap/dist/js/bootstrap.bundle.min.js"></script>

<script type="text/javascript">
    // jQuery(document).ready(function () {
    jQuery("a").each(function () {
        if ((window.location.pathname.indexOf($(this).attr('href'))) > -1) {
            $(this).addClass('activeMenuItem');
        }
    });
    // });
</script>

<script src="assets/js/argon-dashboard.min.js?v=1.1.0"></script>
<script src="https://cdn.trackjs.com/agent/v3/latest/t.js"></script>
<script>
    window.TrackJS &&
    TrackJS.install({
        token: "ee6fab19c5a04ac1a32a645abde4613a",
        application: "argon-dashboard-free"
    });
</script>
</body>

</html>